/* ============================== Font ============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ============================== Main settings ============================== */
:root {
    --dark-color: hsl(221, 31%, 10%);
    --semi-dark: hsla(221, 31%, 10%, 0.7);
    --button-color: hsl(232, 100%, 63%);
    --button-bg: hsla(216, 100%, 63%, 0.1);
    --white-button: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto' !important;
    font-weight: 400;
    font-size: 20px;
}

p,h1,h2,h3,h4 {
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

/* ============================== SITE ============================== */
/* ============================== BUTTON UP ============================== */
#button.show {
    opacity: 1;
    visibility: visible;
}
#button {
    display: inline-block;
    background-color: #001cd3;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
}
/* ============================== HEADER ============================== */
.header {
    border-bottom: 1px solid rgba(240, 240, 240, 0.95);
}
.navbar {
    padding-top: 20px !important;
    padding-bottom: 25px !important;
}
.navbar-collapse {
    padding-top: 0.3125rem;
}
.nav-item {
    margin-right: 32px;
}
.nav-link {
    transition: 0.3s ease;
}
.nav-link:hover {
    color: var(--dark-color) !important;
}
.dropdown {
    margin-right: 48px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    font-size: 16px;
    color: var(--semi-dark) !important;
    padding: 0 !important;
}
.navbar-nav li {
    font-size: 16px;
}
.active {
    color: var(--dark-color) !important;
}
.log__in {
    font-weight: 700;
    font-size: 16px;
    color: var(--semi-dark);
    transition: 0.3s ease;
}
.log__in:hover {
    color: var(--dark-color);
    transform: translateY(-3px);
}
.get__started {
    font-weight: 700;
    font-size: 16px;
    color: var(--button-color);
    transition: 0.3s ease;
    padding: 10px 24px;
    background-color: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
}
.get__started:hover {
    color: #4e62e7;
    transform: translateY(-3px);
}
/* ============================== OFFER ==============================  */
.offer {
    margin-top: 40px;
}
.offer__title {
    font-size: 50px;
    line-height: 50px;
    color: var(--dark-color);
}
.offer__subtitle {
    width: 240px;
    font-size: 20px;
    line-height: 27px;
    color: var(--semi-dark);
    margin-top: 20px !important;
    margin-bottom: 25px !important;
}
.btn__offer {
    color: #fff;
    width: 158px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    background: var(--button-color);
    box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
    border-radius: 100px;
    transition: 0.3s ease;
    display: block;
}
.btn__offer:hover {
    color: rgb(250, 250, 250);
    transform: translateY(-3px);
}

/* ============================== EXPERIENCE ==============================  */
.experience__title-block {
    margin-top: 100px;
}
.experience__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px !important;
    color: var(--dark-color);
}
.experience__subtitle {
    font-size: 21px;
    line-height: 32px;
    color: var(--semi-dark);
}
.experience__data {
    margin-top: 48px !important;
    padding: 80px 48px !important;
    background: #4058FF;
    border-radius: 16px;
}
.experience__data-title {
    color: #fff;
    font-size: 34px;
    margin-bottom: 20px !important;
    width: 354px;
    font-weight: 400;
}
.experience__data-subtitle {
    color: #E8F1FF;
    font-size: 20px;
    font-weight: 400 !important;
    width: 300px;
}
.line-up {
    border-top: 1px solid #4B93FF;
    width: 82%;
    padding-top: 20px;
}
.links__img {
    margin-top: 14px;
}
.experience__img {
    height: 522px;
    width: 100%;
}
/* ============================== NAVIGATE COMPLEX ============================== */
.navigate__complex {
    margin-top: 24px !important;
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    padding: 80px 48px !important;
}
.navigate__title {
    font-size: 34px;
    color: var(--dark-color);
    margin-bottom: 20px !important;
}
.navigate__subtitle {
    font-size: 20px;
    color: var(--semi-dark);
}
/* ============================== BRANDS ==============================  */
.brand__one {
    padding: 80px 48px 35px 48px !important;
    background: rgba(255, 244, 245, 0.5);
    border-radius: 16px;
    margin-right: 20px !important;
}
.brand__two {
    padding: 80px 48px 35px 48px !important;
    background: rgba(255, 246, 228, 0.5);
    border-radius: 16px;
}
.brand__title {
    font-size: 24px;
    color: var(--dark-color);
}
.brand__subtitle {
    font-size: 24px;
    color: var(--semi-dark);
    line-height: 30px;
    margin-top: 8px !important;
    width: 95%;
}
.brands__img {
    margin-top: 70px !important;
}
/* ============================== HELPER SECTION ============================== */
.helper {
    margin-top: 80px !important;
}
.team__title {
    font-size: 36px;
    color: var(--dark-color);
}
.team__subtitle {
    font-size: 21px;
    color: var(--semi-dark);
}
.helper__data {
    background: #121722;
    padding: 80px 48px !important;
    border-radius: 16px;
}
.helper__text {
    width: 300px;
}
.helper__data-title {
    color: #fff;
}
.helper__data-subtitle {
    color: #B9C0D5;
}
.helper__brand {
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    padding: 55px 48px 48px 48px !important;
}
.sales__helper {
    padding: 80px !important;
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
}
.sales__helper-title {
    width: 320px;
}
.sales__title {
    font-size: 34px;
    color: var(--dark-color);
}
.sales__subtitle {
    font-size: 20px;
    color: var(--semi-dark);
}
.first__sales-card {
    background: #4058FF;
    box-shadow: 0px 0px 0px rgba(29, 33, 60, 0.27);
    border-radius: 16px;
    margin-right: 40px !important;
    padding: 90px 40px 100px 32px;
    position: relative;
}
.first__sales-card::before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #49A3FF;
    top: 8%;
    left: 10%;
    border-radius: 50%;
    transition: 1s ease;
}
.first__sales-card::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;
    top: 6.8%;
    left: 8.5%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
    position: absolute;
}
.first__sales-card:hover::before {
    left: 15%;
    top: 5%;
    box-shadow: 0 4px 8px rgba(0 , 0, 0, .15);
    width: 10px;
    height: 10px;
}
.second__sales-card {
    background: #4058FF;
    box-shadow: 0px 0px 0px rgba(29, 33, 60, 0.27);
    border-radius: 16px;
    padding: 85px 50px 70px 32px;
    position: relative;
}
.second__sales-card::before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #49A3FF;
    top: 8%;
    left: 10%;
    border-radius: 50%;
    transition: 1s ease;
}
.second__sales-card::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;
    top: 6.8%;
    left: 8.8%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
    position: absolute;
}
.second__sales-card:hover::before {
    left: 15%;
    top: 5%;
    box-shadow: 0 4px 8px rgba(0 , 0, 0, .15);
    width: 10px;
    height: 10px;
}
.sales__card-title {
    font-size: 13px;    
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.sales__card-subtitle {
    font-size: 32px;
    color: #fff;
    line-height: 36px;
    margin-bottom: 13px !important;
    width: 250px;
}
.sales__card-description {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    opacity: 90%;
    margin-bottom: 15px !important;
}
.learn__btn{
    font-size: 16px;
    color: #fff;
    transition: 0.5s ease;
    display: block;
}
.learn__btn:hover {
    color: whitesmoke !important;
    transform: translateX(10px);
}
.arrow__right {
    font-size: 14px;
    margin-left: 12px !important;
    transition: 0.3s ease;
}
/* ============================== TEMPLATES ============================== */
.templates {
    margin-top: 100px;
}
.templates__title {
    font-size: 36px;
    color: var(--dark-color);
}
.templates__subtitle {
    font-size: 21px;
    color: var(--semi-dark);
    line-height: 32px;  
    width: 600px;
    margin: 0 auto !important;
}
.templates__btn {
    width: 213px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: rgba(64, 140, 255, 0.1);
    border-radius: 34px;
    font-size: 18px;
    color: #4058FF;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    transition: 0.5s ease;
}
.templates__btn:hover {
    transform: translateX(10px);
}
.templates__cards {
    width: 767px !important;
    margin: 0 auto;
}
.card {
    border: none !important;
    width: 245px !important;
    border-radius: 8px !important;
    margin-bottom: 24px;    
    padding: 0 !important;
}
.card-body {
    padding: 0.5rem 0 !important;
}
.card-img-top {
    width: 245px !important;
}
.card-title {
    font-size: 13px !important;
    color: rgba(18, 23, 34, 0.46);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.card-text {
    font-size: 20px !important;
    color: var(--dark-color);
}
/* ============================== GET STARTED ============================== */
.get {
    margin-top: 80px;
}
.get__started-wrapp {
    background: #4058FF;
    padding: 120px 0;
    border-radius: 16px;
}
.get__title {
    color: #fff;
    font-size: 34px;
}
.get__btn {
    display: block;
    width: 158px;
    padding: 14px 0;
    color: #4058FF;
    background: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
    border-radius: 100px;
    transition: 0.5s ease;
}
.get__btn:hover {
    transform: translatey(-10px);
}
/* ============================== FOOTER ============================== */
.footer {
    margin: 80px 0;
}
.footer__logo {
    width: 114px;
    margin-bottom: 8px;
}
.credits {
    font-size: 12px;
    color: rgba(18, 23, 34, 0.7);
}
.footer__link {
    display: block;
    color: #121722;
    font-size: 16px;
    margin-bottom: 8px;
    transition: 0.3s ease;
}
.footer__link:hover {
    color: var(--semi-dark);
    transform: translateY(-4px);
}